@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-blue-primary: #c4d1e1;
  --color-blue-secondary: #738fbd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-blue-primary: var(--color-blue-primary);
  --color-blue-secondary: var(--color-blue-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'samsungsharpsans';
  src: url('/fonts/samsungsharpsans.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'samsungsharpsans';
  src: url('/fonts/samsungsharpsans-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'samsungsharpsans';
  src: url('/fonts/samsungsharpsans-medium.otf') format('opentype');
  font-weight: medium;
  font-style: normal;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'samsungsharpsans', Arial, Helvetica, sans-serif;
}
