@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --color-blue-primary: #c4d1e1;
  --color-blue-secondary: #738fbd;
  --color-blue-tertiary: #1f3c88;
  --color-blue-light: #dce2ea;
  --color-violet-primary: #46598a;
  --color-purple-primary: #e3e8ee;
  --color-orange-primary: #de8080;
  --color-blue-gray: #f2f6fa;
  --color-pending: #fbe5ea;
  --color-pending-foreground: #a33939;
  --color-in-transit: #edf5fe;
  --color-in-transit-foreground: #536eb5;
  --color-confirmed: #fff7db;
  --color-confirmed-foreground: #b9982b;
  --color-complete: #e6fff2;
  --color-complete-foreground: #3c8d6d;
  --color-green-primary: #3d938c;
  --color-blue-sky: #ecf4ff;
  --color-blue-night: #233667;
  --color-error: #feefef;
  --color-error-foreground: #da1414;
  --color-warning: #fef0c7;
  --color-warning-foreground: #b54708;
  --color-success: #d1fadf;
  --color-success-foreground: #027a48;
  --color-info: #eef2fa;
  --color-info-foreground: #2e5aac;
  --color-disabled: #f2f4f7;
  --color-green-secondary: #d1f5e4;

  --color-success-toastify: #49a078;
  --color-success-toasttify-box: #2d6a4f;
  --color-error-toastify: #ce4257;
  --color-error-toasttify-box: #800f2f;
  --color-warning-toastify: #fae588;
  --color-warning-toasttify-box: #ffab3b;
  --color-info-toastify: #caf0f8;
  --color-info-toasttify-box: #1474bc;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  /* Custom color */
  --color-blue-primary: var(--color-blue-primary);
  --color-blue-secondary: var(--color-blue-secondary);
  --color-blue-tertiary: var(--color-blue-tertiary);
  --color-violet-primary: var(--color-violet-primary);
  --color-blue-light: var(--color-blue-light);
  --color-purple-primary: var(--color-purple-primary);
  --color-blue-gray: var(--color-blue-gray);
  --color-green-secondary: var(--color-green-secondary);

  --color-pending: var(--color-pending);
  --color-pending-foreground: var(--color-pending-foreground);
  --color-in-transit: var(--color-in-transit);
  --color-in-transit-foreground: var(--color-in-transit-foreground);
  --color-confirmed: var(--color-confirmed);
  --color-confirmed-foreground: var(--color-confirmed-foreground);
  --color-complete: var(--color-complete);
  --color-complete-foreground: var(--color-complete-foreground);
  --color-green-primary: var(--color-green-primary);
  --color-blue-sky: var(--color-blue-sky);
  --color-blue-night: var(--color-blue-night);
  --color-disabled: var(--color-disabled);
  --color-error: var(--color-error);
  --color-error-foreground: var(--color-error-foreground);
  --color-success: var(--color-success);
  --color-success-foreground: var(--color-success-foreground);

  --color-success-toastify: var(--color-success-toastify);
  --color-success-toasttify-box: var(--color-success-toasttify-box);
  --color-error-toastify: var(--color-error-toastify);
  --color-error-toasttify-box: var(--color-error-toasttify-box);
  --color-warning-toastify: var(--color-warning-toastify);
  --color-warning-toasttify-box: var(--color-warning-toasttify-box);
  --color-info-toastify: var(--color-info-toastify);
  --color-info-toasttify-box: var(--color-info-toasttify-box);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--color-blue-primary);
  --color-orange-primary: var(--color-orange-primary);
  --color-orange-foreground: var(--color-orange-primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-sm: calc(var(--radius) + 4px);
}

@font-face {
  font-family: 'samsungsharpsans';
  src: url('/fonts/samsungsharpsans.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'samsungsharpsans';
  src: url('/fonts/samsungsharpsans-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'samsungsharpsans';
  src: url('/fonts/samsungsharpsans-medium.otf') format('opentype');
  font-weight: medium;
  font-style: normal;
}
body {
  font-family: 'samsungsharpsans', Arial, Helvetica, sans-serif;
}

/* Text animation wipe */
.text-wipe {
  border-right: 2px solid;
  width: 100px;
  animation: typing 5s steps(18) infinite;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--color-blue-secondary);
}

@keyframes typing {
  from {
    width: 0;
  }
}

/* Text gradient */
.text-gradient {
  background: linear-gradient(90deg, var(--color-blue-secondary), #000000);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Border dashed custom */
.border-dashed-custom {
  width: 200px;
  height: 200px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23C4D1E1' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='66' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 16px;
}

/* Custom rechart height */
.recharts-responsive-container {
  max-height: 140px !important;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [::-webkit-scrollbar]:hidden;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Animation bounce */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
}
.animate-bounce-slow-70 {
  animation: bounce 7s infinite;
}

.animate-bounce-slow-50 {
  animation: bounce 5s infinite;
}

.Toastify__toast-icon {
  display: none !important;
}

.Toastify__close-button {
  top: 10px;
  right: 20px;
  color: white !important;
  opacity: 100 !important;
  width: 24px !important;
  height: 24px !important;
}

@media (max-width: 480px) {
  .Toastify__toast-container {
    top: auto !important;
    bottom: 20px !important;
    gap: 32px !important;
    right: 50% !important;
    scale: 75%;
  }
}
.Toastify__toast-container {
  gap: 16px;
  top: 100px;
  padding: 0 !important;
}

.Toastify__toast {
  padding: 0 !important;
  border-radius: 32px !important;
  height: 100px !important;
}
.Toastify__toast--success {
  background: var(--color-success-toastify) !important;
}

.Toastify__toast--error {
  background: var(--color-error-toastify) !important;
}

.Toastify__toast--info {
  background: var(--color-info-toastify) !important;
}

.Toastify__toast--warning {
  background: var(--color-warning-toastify) !important;
}

.Toastify__progress-bar,
.Toastify__progress-bar--bg {
  width: calc(100% - 32px) !important;
  margin: 0 12px !important;
  border-radius: 12px !important;
  background-color: white !important;
}

.box-chat-success::before {
  content: '';
  position: absolute;
  background-color: var(--color-success-toasttify-box);
  width: 20px;
  height: 40px;
  rotate: 160deg;
  border-radius: 3px;
  bottom: -3px;
  left: 7px;
}

.box-chat-error::before {
  content: '';
  position: absolute;
  background-color: var(--color-error-toasttify-box);
  width: 20px;
  height: 40px;
  rotate: 160deg;
  border-radius: 3px;
  bottom: -3px;
  left: 7px;
}

.box-chat-warning::before {
  content: '';
  position: absolute;
  background-color: var(--color-warning-toasttify-box);
  width: 20px;
  height: 40px;
  rotate: 160deg;
  border-radius: 3px;
  bottom: -3px;
  left: 7px;
}

.box-chat-info::before {
  content: '';
  position: absolute;
  background-color: var(--color-info-toasttify-box);
  width: 20px;
  height: 40px;
  rotate: 160deg;
  border-radius: 3px;
  bottom: -3px;
  left: 7px;
}
